<template>
    <nav class="bg-gray-900 mb-6 sm:bg-gray-900 sm:mb-6 md:bg-gray-100 md:mb-12">
        <div class="p-4">
            <NuxtLink to="/"><img class="h-10 w-10 mx-auto" src="icon.png" alt="DN Icon"></NuxtLink>
        </div>
    </nav>
</template>
