<template>
<form action="https://send.pageclip.co/abc123def456">
    <div class="shadow overflow-hidden sm:rounded-md" id="card">
        <div class="px-4 py-5 bg-gray-100 sm:p-6" id="card-padding">
            <div class="grid grid-cols-6 gap-6">

                <div class="col-span-6 md:col-span-3">
                    <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                    <input type="text" name="first_name" id="first_name" autocomplete="given-name" class="mt-1 px-4 py-2 focus:ring-gray-500 focus:border-gray-500 block w-full shadow-sm sm:text-sm border-gray-900 rounded-md">
                </div>
                <!-- /.col -->

                <div class="col-span-6 md:col-span-3">
                    <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
                    <input type="text" name="last_name" id="last_name" autocomplete="family-name" class="mt-1 px-4 py-2 focus:ring-gray-500 focus:border-gray-500 block w-full shadow-sm sm:text-sm border-gray-900 rounded-md">
                </div>
                <!-- /.col -->

                <div class="col-span-6">
                    <label for="email_address" class="block text-sm font-medium text-gray-700">Email address</label>
                    <input type="text" name="email_address" id="email_address" autocomplete="email" class="mt-1 px-4 py-2 focus:ring-gray-500 focus:border-gray-500 block w-full shadow-sm sm:text-sm border-gray-900 rounded-md">
                </div>
                <!-- /.col -->

                <div class="col-span-6" id="note">
                    <label for="about" class="block text-sm font-medium text-gray-700">
                    Note
                    </label>
                    <div class="mt-1">
                        <textarea id="about" name="about" rows="3" class="mt-1 px-4 py-2 shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-900 rounded-md" placeholder="Send me a note!"></textarea>
                    </div>
                </div>
                <!-- /#note -->
                
            </div>
            <!-- /.grid -->
        </div>
        <!-- /#card-padding -->

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Send
            </button>
        </div>
    </div>
    <!-- /#card -->
</form>
</template>