<template>
  <div class="container max-w-2xl">
      <h1 class="text-3xl my-4">A Little Bit About Me</h1>
      <p class="mb-8">I'm a happily married software developer with four boys living on a little farm in Oregon.  I have worked in most areas of the information Technology world in my 20+ year career.  Everything from end-user support, security, and system administration to database management, programming and directing humans.</p>
      
      <p class="mb-8">I'm most comfortable solving problems.  Sometimes the problem is a way to deliver critical information to the users, but often it's working with vendors connect systems to make everyone's workflow feel more seemless.</p>
      
      <p class="mb-8">I work hard and play hard and I'm a stickler for consistency and convention.</p>
  </div>
</template>

<script>
export default {}
</script>
