<template>
  <div>
      <h1 class="text-3xl my-4">Hi, I'm Derek</h1>
      <p class="mb-8">I'm a very happily married software developer with four boys living on a little farm in Oregon. <NuxtLink to="about" class="text-blue-700 hover:text-orange-500">Here's a little more about me.</NuxtLink></p>
      
      <h3 class="font-serif text-2xl text-gray-600">Projects</h3>
      <p class="mb-8">I've done a lot of work I'm proud of over my career, here I'll present some of it.</p>
      
      <h3 class="font-serif text-2xl text-gray-600">Articles</h3>
      <p class="mb-8">I'm going to start documenting some of the things I've created here.</p>
  </div>
</template>

<script>
export default {}
</script>
